USE [master]
GO
/****** Object:  Database [ACC]    Script Date: 7/14/2017 4:40:09 PM ******/
CREATE DATABASE [ACC]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ACC', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\ACC.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ACC_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\ACC_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ACC].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ACC]
GO
/****** Object:  Table [dbo].[users]    Script Date: 7/14/2017 4:40:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ad] [nvarchar](max) NOT NULL,
	[soyad] [nvarchar](max) NOT NULL,
	[istfAd] [nvarchar](max) NOT NULL,
	[shifre] [nvarchar](max) NOT NULL,
	[eMail] [nvarchar](max) NULL,
	[telNom] [nvarchar](max) NULL,
 CONSTRAINT [PK_users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([Id], [ad], [soyad], [istfAd], [shifre], [eMail], [telNom]) VALUES (1, N'Cefer', N'Cabbarli', N'Ceff', N'123', N'hdhdhd', N'djjhdjd')
INSERT [dbo].[users] ([Id], [ad], [soyad], [istfAd], [shifre], [eMail], [telNom]) VALUES (2, N'Huseyn', N'Qehremanli', N'Huseyn', N'123', N'fbf', N'frfb')
INSERT [dbo].[users] ([Id], [ad], [soyad], [istfAd], [shifre], [eMail], [telNom]) VALUES (3, N'fff', N'ddd', N'Cfr', N'123', N'dvd@.', N'2345')
SET IDENTITY_INSERT [dbo].[users] OFF
USE [master]
GO
